<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <IWD_OnepageCheckout>
            <version>2.0.1</version>
        </IWD_OnepageCheckout>
    </modules>

    <global>


       <resources>
           <onepagecheckout_setup>
              <setup>
                 <module>IWD_OnepageCheckout</module>
                 <class>Mage_Customer_Model_Entity_Setup</class>
              </setup>
              <connection>
                 <use>core_setup</use>
              </connection>
          </onepagecheckout_setup>
          <onepagecheckout_write>
            <connection>
               <use>core_write</use>
             </connection>
          </onepagecheckout_write>
          <onepagecheckout_read>
            <connection>
              <use>core_read</use>
         </connection>
        </onepagecheckout_read>
       </resources>


        <models>
            <onepagecheckout>
                <class>IWD_OnepageCheckout_Model</class>
            </onepagecheckout>
            <onepagecheckout_adminhtml>
                <class>IWD_OnepageCheckout_Adminhtml_Model</class>
            </onepagecheckout_adminhtml>
        </models>
        <blocks>
            <checkout>
                <rewrite>
                    <links>IWD_OnepageCheckout_Block_Links</links>
                </rewrite>
            </checkout>
            <onepagecheckout>
                <class>IWD_OnepageCheckout_Block</class>
            </onepagecheckout>
        </blocks>
        <helpers>
            <checkout>
                <rewrite>
                    <url>IWD_OnepageCheckout_Helper_Url</url>
                </rewrite>
            </checkout>
            <onepagecheckout>
                <class>IWD_OnepageCheckout_Helper</class>
            </onepagecheckout>
        </helpers>
    </global>

    <frontend>
        <routers>
            <onepagecheckout>
                <use>standard</use>
                <args>
                    <module>IWD_OnepageCheckout</module>
                    <frontName>onepagecheckout</frontName>
                </args>
            </onepagecheckout>
        </routers>
        <translate>
            <modules>
                <IWD_OnepageCheckout>
                     <files>
                          <default>IWD_OnepageCheckout.csv</default>
                     </files>
                </IWD_OnepageCheckout>
            </modules>
        </translate>
        <layout>
             <updates>
                  <onepagecheckout>
                        <file>onepagecheckout.xml</file>
                  </onepagecheckout>
             </updates>
        </layout>
        <events>
             <sales_model_service_quote_submit_after>
                <observers>
                    <onepagecheckout>
                        <type>model</type>
                        <class>onepagecheckout/observer</class>
                        <method>removeHistoryComment</method>
                    </onepagecheckout>
                </observers>
            </sales_model_service_quote_submit_after>
            <sales_model_service_quote_submit_before>
                <observers>
                    <onepagecheckout>
                        <type>model</type>
                        <class>onepagecheckout/observer</class>
                        <method>addHistoryComment</method>
                    </onepagecheckout>
                </observers>
            </sales_model_service_quote_submit_before>
 
      		<controller_action_layout_render_before_checkout_cart_index>
                <observers>
                    <onepagecheckout>
                        <class>onepagecheckout/observer</class>
                        <method>setEmptyCartTemplate</method>
                    </onepagecheckout>
                </observers>
            </controller_action_layout_render_before_checkout_cart_index>
 
        </events>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <IWD_OnepageCheckout>
                    <files>
                        <default>IWD_OnepageCheckout.csv</default>
                    </files>
                </IWD_OnepageCheckout>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <onepagecheckout translate="title" module="onepagecheckout">
                                            <title>One Page Checkout Section</title>
                                        </onepagecheckout>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl> 
    </adminhtml>

    <default>
        <onepagecheckout>
            <general>
                <enabled>1</enabled>
                <title>Finalize sua compra em 1 etapa</title>
                <!-- 
                <shipping_method>flatrate_flatrate</shipping_method>
                 -->
                <payment_method>authorizenet</payment_method>
                <country>BR</country>
                <guest_checkout>1</guest_checkout>
                <shipping_address>1</shipping_address>
                <newsletter_checkbox>1</newsletter_checkbox>
                <comment>0</comment>
            </general>
            <geo_ip>
                <country>0</country>
                <country_file>GeoIP.dat</country_file>
                <city>0</city>
                <city_file>GeoLiteCity.dat</city_file>
            </geo_ip>
            <address_form>
                <company>required</company>
                <address>required</address>
                <city>required</city>
                <country>hidden</country>
                <zip>required</zip>
                <state>required</state>
                <phone>required</phone>
                <fax>required</fax>
            </address_form>
            <agreements>
                <enabled>0</enabled>
                <output>minimal</output>
            </agreements>
        </onepagecheckout>
    </default>
    <admin>
        <routers>
            <onepagecheckout>
                <use>admin</use>            
                <args>
                    <module>IWD_OnepageCheckout</module>
                    <frontName>onepagecheckout</frontName>
                </args>
            </onepagecheckout>
        </routers>
    </admin>
</config>